---
import Form from '@/components/MainForm'
import VideoPlayer from '@/components/VideoPlayer.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
  <main class='w-full container flex gap-2 flex-col'>
    <Form client:load />
    <VideoPlayer watch='tv' id='tt5180504' season='1' episode='1' />
    <!-- <Button className='mx-auto rounded-none min-w-[12rem]' size='sm'>Test</Button> -->
  </main>
</Layout>

<script src='@/lib/scripts/index.ts'></script>
