---
import Form from '@/components/MainForm'
import VideoPlayer from '@/components/VideoPlayer.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='JustWatch'>
  <main class='w-full pb-16 container md:max-w-4xl mx-auto flex gap-8 flex-col'>
    <Form client:load />
    <VideoPlayer />
  </main>
</Layout>
