---
import ThemeToggle from './ThemeToggle.astro'
import Dialog from './Dialog'
import { Button } from './ui/button'
---

<header
  class='border-b backdrop-blur bg-background/75 py-4 w-full sticky top-0 z-50'
>
  <nav>
    <div
      class='flex md:max-w-3xl mx-auto justify-between container items-center w-full'
    >
      <a href='/'>
        <p class='font-extrabold text-xl tracking-wider'>JustWatch</p>
      </a>
      <div class='flex gap-2 sm:gap-4 items-center'>
        <Dialog client:only>
          <p
            class='hidden text-sm hover:underline underline-offset-4 min-[330px]:inline-block'
          >
            How to get the id?
          </p>
        </Dialog>
        <ThemeToggle />
      </div>
    </div>
  </nav>
</header>
