---
import ThemeToggle from './ThemeToggle.astro'
---

<nav class='border-b bg-background py-4 w-full sticky top-0'>
  <div class='flex justify-between container items-center w-full'>
    <p class='font-extrabold text-xl tracking-wider'>JustWatch</p>
    <ThemeToggle />
  </div>
</nav>
